//queries

/***********************************************
                MEDIA QUERIES
***********************************************/

@media all and (min-width: 501px) {
    .container-fluid{
        margin-top:7%;
        header{
            width:28rem;
        }
        
    }
}

@media all and (min-width: 780px) {
    .container-fluid{
        max-width: 40rem;
        .form-group:nth-child(2){
                padding-right: 1rem;
}
    }
}
