//variables

/***********************************************
                NOTES
White: #FFFFFF 
Green: #7AB55C 
Grey: #7B7B7B 
Purple light: #5c6ac4 
Purple dark: #000639 
Red: #C23628

                DEFAULTS
***********************************************/
$white: #FFFFFF;
$green: #7AB55C;
$grey: #7B7B7B;
$purple-light: #5c6ac4;
$purple-dark: #000639;
$red: #C23628;

$font-sans-serif: Helvetica, serif;